## Exercise  1

calculates the square of each number

##### expected output
```python
[1, 4, 9, 16]
```

In [ ]:
l = [1,2,3,4]
def square(i):
    return pow(i,2)

## Exercise  2

add an a at the end of each word

##### expected output
```python
['gabriela', 'paula', 'andrea', 'julia', 'manuela']
```

In [ ]:
l = ['gabriel', 'paul', 'andre', 'juli', 'manuel']

## Exercise  3

filter even numbers from 0 to 10

##### expected output
```python
[0, 2, 4, 6, 8]
```

## Exercise 4
Filter the characters if they are under 26
##### expected output
```python
[(25, 'Chandler'), (28, 'Phoebe'), (27, 'Monika'), (26, 'Joey')]
```

In [ ]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26 ]
list_tuples = list(zip(l[1::2],l[0::2]))
list_tuples

[(25, 'Chandler'), (28, 'Phoebe'), (27, 'Monika'), (26, 'Joey')]

# Exercise 5
Join the two list to create a `bloody-mari` a `ron-cola` or `gin-tonic`

##### expected output
```python
['bloody-mary', 'ron-cola', 'gin-tonic']
```

In [ ]:
l1 = ['bloody', 'ron', 'gin']
l2 = ['mary', 'cola', 'tonic']

# Exercise 6
Replicate the folling cell using a map`

In [ ]:
name = ['Chandler', 'Phoebe', 'Monika', 'Joey']
ages = [25, 28, 27, 26]
list(zip(name, ages))

[('Chandler', 25), ('Phoebe', 28), ('Monika', 27), ('Joey', 26)]

## Exercise 7
calculates the summation using a reduce

##### expected output
```python
7140
```

In [ ]:
l = list(range(1,120))

In [ ]:
from functools import reduce

## Exercise 8
calculates the product using a reduce
##### expected output
```python
55745857612076058813234317117419771556272886109483581752463927935846946310374691578057284710599874844234646982443450754604453404911734348832487342619913750049708004343808000000000000000000000000000
```

## Exercise 9
calculate the element-wise sum between x and y

```python
[11, 11, 11, 11, 11, 11, 11, 11, 11, 11]
```

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,9,8,7,6,5,4,3,2,1]

## Exercise 10
sum previous result using reduce

```python
110
```